/* configuracion de body y contenido principal */
body {

    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: poppins;
    flex-wrap: wrap;

    
}

.contenido {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    flex-wrap: wrap;

}

/* configuracion del lado izquierdo */

.contenido .izquierda {
    position: relative;
    background-image: url(imagenes/nubes.jfif);
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
    
}

.contenido .derecha {
    position: relative;
    background-color: whitesmoke;
    padding: 15px;
    color: black;
    
}

.perfil {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;

}

.img1:hover {

    width: 170px;
    height: 170px;
    border-radius: 50%;
    transform: scale(1.15);
    cursor: pointer;


}

.perfil h2 {
    position: relative;
    text-transform: uppercase;
    margin-top: 5px;
}

.perfil h3 {
    margin-top: 5px;

}

.Informacion {

    margin-top: 15px;

}

.datospersonales {

    padding-bottom: 10px;
    border-bottom: 1px solid gray;

}

.redes {

    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style-type: none;


}

.contactos {
    margin-top: 20px;
    padding-bottom: 15px;

}

.titulo1 {
    margin-top: 15px;
    text-transform: uppercase;

}

.titulo2 {
    margin-top: 15px;
    text-transform: uppercase
}

.titulo3 {

    margin-top: 15px;
    text-transform: uppercase
}

.habilidades {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.barra {
    position: relative;
    width: 95%;
    height: 9px;
    background: white;
    display: block;
    margin: 1px;
    border-radius: 10px;
}

.titulo4 {
    padding: 0%;
    margin: 10px;
}

/* efecto de las barras de habilidades */
.progreso {
    width: var(--w);
    height: 100%;
    background: lightblue;
    border-radius: 10px;
    animation: aumentar 7s forwards;
}

@keyframes aumentar {
    0% {
        width: 0%;
    }

    100% {
        width: var(--w);
    }
}

.barra2 {
    position: relative;
    width: 95%;
    height: 9px;
    background: white;
    display: block;
    margin: 1px;
    border-radius: 10px;
    padding: 0%;
    box-shadow: 20px 25px 45px rgb(0, 0, 0)
}

.progreso2 {
    width: var(--w);
    height: 100%;
    background: lightblue;
    border-radius: 10px;
    animation: aumentar2 7s forwards;
}

@keyframes aumentar2 {
    0% {
        width: 0%;
    }

    100% {
        width: var(--w);
    }
}

/* configuracion del lado derecho */

.tomas {
    font-weight: bold;
    color: #003147;
    border-bottom: 1px solid #003147;
    padding-bottom: 40px;
    font-size: 17px;
}

.info_formacion {
    padding-left: 0px;
    font-weight: bold;
    color: #003147;
    border-bottom: 1px solid #003147;
    padding-bottom: 10px;
}

.tituloformacion {
    padding-left: 0px;
    font-weight: bold;
    color: black;
    font-size: 50;
}

.info_trabajo {
    padding-left: 0px;
    font-weight: bold;
    color: black;
    font-size: 50;
}

.descripcion1 {
    font-weight: bold;
    color: #003147;
    border-bottom: 1px solid #003147;
    padding-bottom: 10px;
    list-style-type: circle;
}

.mostrartexto1:hover {
    transform: scale(1.15);
    position: relative;
}

.mostrartexto1 {
    cursor: pointer;
    color: black;
    border-radius: 20px;
    border: 2px solid;
    margin-left: 20px;
    transition: box-shadow 0.25 ease-in-out;
    box-shadow: 0 0 40px lightblue inset;
}

.mostrartexto1:hover {

    box-shadow: 0 0 10px lightblue inset, 0 0 10px 4px lightblue;

}

.mostrartexto1:focus {
    outline: 0;
}

.mostrartexto2:hover {

    transform: scale(1.15);
    position: relative;
}

.mostrartexto2 {
    cursor: pointer;
    color: black;
    border-radius: 20px;
    border: 2px solid;
    margin-left: 20px;
    transition: box-shadow 0.25 ease-in-out;
    box-shadow: 0 0 40px lightblue inset;
}

.mostrartexto2:hover {

    box-shadow: 0 0 10px lightblue inset, 0 0 10px 4px lightblue;

}

.mostrartexto2:focus {
    outline: 0;
}

.Hobbies {
    background-image: url(imagenes/montañas.jfif);
    font-size: 50;
    color: black;
    list-style-type: circle;
}

.hide {
    display: none;

}

.mostrar {
    display: block;

}

.hide2 {
    display: none;

}

.mostrar2 {
    display: block;

}

.titulosder {
    background-image: url(imagenes/cafe.png);
    font-size: 50;

    color: black;
    list-style-type: circle;
}

.borde {
    padding: 3px;
    border: 2px lightblue solid;
}

.titulohob {
    display: flex;
    font-size: 20px;
    color: black;
    justify-content: center;
    margin-top: 20px;
    border: 2px lightblue solid;
    border-radius: 10px;

}

#Hobbies3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 5%;
    grid-gap: 30px;
    cursor: pointer;
}

#Hobbies3 img {

    width: 100%;
    transition: all 300ms;
    position: relative;
    margin-left: 30px;
}

#Hobbies3 img:hover {
    transform: scale(1.15);
}